body{
  /* font-family: 'Roboto', sans-serif; */
  background-color: #f5f5f0;
}
ul li {
  display: block;
  padding: 0;
  margin: 0;
}

.navbar-toggler{
  display: flex;
  align-items: flex-start;
}


.menu{
margin-top: 15px;

}
#start{
   background: linear-gradient(178deg, rgba(74, 4, 25, .8), rgba(34, 101, 163, .5)), url(../img/back.jpg);
  min-height: 100vh;
  min-width: 100vh;
  /* background-size: 100%; */
  background-size: cover;

}


.blue-wraper{
      background: linear-gradient(178deg, rgba(30, 95, 156, 0.92), #ffff00b8);
  min-width: 100vh;
}
#works{
min-height: 70vh;
text-align: center;
}
#technology{
  min-height: 60vh;
  padding-top: 6%;
  text-align: center;
   min-width: 100vh;
}
#sertificate{
  min-height: 100vh;
  text-align: center;
}
.menu__list{
font-weight: 700;

}
.nav-link{
  color: azure !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.nav-link:hover{
  color: rgba(255,255,255,.5) !important;
}
#logo{
  font-family: 'Fredericka the Great', cursive;
  font-size: 20px;
}
.mnu_telephone{
      color: azure;

  }
  .mnu_telephone> span{
    color: #ff0033;
  }

#btn-container{
  margin-top: 20px;
}
#start__btn{
  background: rgba(144, 127, 94, 0.3);
      color: #310505;
      margin-left: 15%;
      padding: 12px 50px;
      border: 1px solid rgb(70, 68, 68);
      border-radius: 8px;
      font-size: larger;
      font-weight: 900;
      text-shadow: none;
}
.title{
  font-family: 'Roboto', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 90px 0;
  font-weight: bold;
  color: azure;
  margin-left: 24%;
}
.title span{
  color: #b9975b;
    text-transform: uppercase;
    text-align: center;
}
.img_pictograms{
  height: 128px;
  margin: 30px 20px;
  justify-content: center;
}
.img_pictograms:hover{
  height: 150px;
}
.img_works{
  max-height: 256px;
  margin: 30px 20px;
  justify-content: center;
}
.img_works:hover{
  height: 266px;
}
footer{
  background-color: #222222;
  color: #fff;
  border-radius: 5px 5px 0 0;
  min-width: 100vh;
}
.foot-br-left{
  border-left:1px solid #ffffff;
}
#contacts{
  display: flex;
  justify-content: center;
}

@media (max-width: 768px){
.navbar{

background: rgba(0, 0, 0, 0.4) !important;
}
}
@media screen and (max-width: 984px){

.foot-br-left{
 border: none;
}
}
@media screen and (max-width: 906px){
  .img_pictograms{
  height: 85px;
}
.img_pictograms:hover{
  height: 90px;
}
#start{
min-height: auto;
}
#works{
height: auto;
/* background-color: #121212; */
}
#sertificate{
  min-height: auto;
}
#technology{
  min-height: auto;
  }
  .title__heading{
    font-size: 1.2rem;
  }
  /* .title{
      margin-left: 0;
  } */
  .title h2{
      font-size: 1.0rem;
  }
  #start__btn {
padding: 8px 31px;

}
}
